<header class="header">
    <img src="assets/logo/logo03.png" class="logo" alt="logo">

    <h1>Soluções Inteligentes em TI</h1>
    <nav>
        <a href="index.html">
            <span class="material-icons">home</span>
            Home
        </a>

        <a href="login.html">
            <span class="material-icons">login</span>
            Login
        </a>

        <a href="cadastro.html">
            <span class="material-icons">person_add</span>
            Cadastro
        </a>
    </nav>
</header>